<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.seguridad.mapper.CuentaUsuarioMapper">
	<resultMap id="CuentaUsuarioMap" type="wcmc.hef.dao.seguridad.domain.CuentaUsuario">
		<result column="id_usuario" property="srlId" jdbcType="INTEGER"/>
		<result column="id_perfil" property="intPerfil" jdbcType="INTEGER"/>
		<result column="nom_usuario" property="strNombres" jdbcType="VARCHAR"/>
		<result column="ape_usuario" property="strApellidos" jdbcType="VARCHAR"/>
		<result column="cod_usuario" property="strUsuario" jdbcType="VARCHAR"/>
		<result column="clv_usuario" property="strClave" jdbcType="VARCHAR"/>
		<result column="ind_estado" property="strEsActivo" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="CuentaUsuarioMap" parameterType="wcmc.hef.dao.seguridad.domain.CuentaUsuarioParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.t001usuario as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="CuentaUsuarioMap" parameterType="wcmc.hef.dao.seguridad.domain.CuentaUsuarioKey" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.t001usuario as tab
		where 1 = 1
		and id_usuario = #{srlId,jdbcType=INTEGER}
	</select>

	<select id="lastSequence" resultType="java.lang.Integer">
		select currval('wcmc_hef.t001usuario_id_usuario_seq')
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.seguridad.domain.CuentaUsuario">
		insert into wcmc_hef.t001usuario
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="intPerfil != null">
				id_perfil,
			</if>
			<if test="strNombres != null">
				nom_usuario,
			</if>
			<if test="strApellidos != null">
				ape_usuario,
			</if>
			<if test="strUsuario != null">
				cod_usuario,
			</if>
			<if test="strClave != null">
				clv_usuario,
			</if>
			<if test="strEsActivo != null">
				ind_estado,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="intPerfil != null">
				#{intPerfil, jdbcType=INTEGER},
			</if>
			<if test="strNombres != null">
				#{strNombres, jdbcType=VARCHAR},
			</if>
			<if test="strApellidos != null">
				#{strApellidos, jdbcType=VARCHAR},
			</if>
			<if test="strUsuario != null">
				#{strUsuario, jdbcType=VARCHAR},
			</if>
			<if test="strClave != null">
				#{strClave, jdbcType=VARCHAR},
			</if>
			<if test="strEsActivo != null">
				#{strEsActivo, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.seguridad.domain.CuentaUsuario">
		update wcmc_hef.t001usuario
		<set>
			<if test="intPerfil != null">
				id_perfil = #{intPerfil,jdbcType=INTEGER},
			</if>
			<if test="strNombres != null">
				nom_usuario = #{strNombres,jdbcType=VARCHAR},
			</if>
			<if test="strApellidos != null">
				ape_usuario = #{strApellidos,jdbcType=VARCHAR},
			</if>
			<if test="strUsuario != null">
				cod_usuario = #{strUsuario,jdbcType=VARCHAR},
			</if>
			<if test="strClave != null">
				clv_usuario = #{strClave,jdbcType=VARCHAR},
			</if>
			<if test="strEsActivo != null">
				ind_estado = #{strEsActivo,jdbcType=VARCHAR},
			</if>
		</set>
		where 1 = 1
		and id_usuario = #{srlId,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.seguridad.domain.CuentaUsuarioKey">
		delete from wcmc_hef.t001usuario
		where 1 = 1
		<if test="srlId != null">
		and id_usuario = #{srlId,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id_usuario, 
		id_perfil, 
		nom_usuario, 
		ape_usuario, 
		cod_usuario, 
		clv_usuario, 
		ind_estado
	</sql>
</mapper>