<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.visor.mapper.CapaDepartamentoMapper">
	<resultMap id="CapaDepartamentoMap" type="wcmc.hef.dao.visor.domain.CapaDepartamento">
		<result column="cd_gid" property="intIdGid" jdbcType="INTEGER"/>
		<result column="cd_departa" property="strIdDepartamento" jdbcType="VARCHAR"/>
		<result column="nm_departa" property="strNombre" jdbcType="VARCHAR"/>
		<result column="ha_area" property="dblArea" jdbcType="DOUBLE"/>
		<result column="fc_registr" property="timFechaRegistro" jdbcType="TIMESTAMP"/>
		<result column="si_geometr" property="strGeometria" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="CapaDepartamentoMap" parameterType="wcmc.hef.dao.visor.domain.CapaDepartamentoParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.bas_limpol_departamento as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="CapaDepartamentoMap" parameterType="wcmc.hef.dao.visor.domain.CapaDepartamentoKey" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.bas_limpol_departamento as tab
		where 1 = 1
		and cd_gid = #{intIdGid,jdbcType=INTEGER}
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.visor.domain.CapaDepartamento">
		insert into wcmc_hef.bas_limpol_departamento
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="intIdGid != null">
				cd_gid,
			</if>
			<if test="strIdDepartamento != null">
				cd_departa,
			</if>
			<if test="strNombre != null">
				nm_departa,
			</if>
			<if test="dblArea != null">
				ha_area,
			</if>
			<if test="timFechaRegistro != null">
				fc_registr,
			</if>
			<if test="strGeometria != null">
				si_geometr,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="intIdGid != null">
				#{intIdGid, jdbcType=INTEGER},
			</if>
			<if test="strIdDepartamento != null">
				#{strIdDepartamento, jdbcType=VARCHAR},
			</if>
			<if test="strNombre != null">
				#{strNombre, jdbcType=VARCHAR},
			</if>
			<if test="dblArea != null">
				#{dblArea, jdbcType=DOUBLE},
			</if>
			<if test="timFechaRegistro != null">
				#{timFechaRegistro, jdbcType=TIMESTAMP},
			</if>
			<if test="strGeometria != null">
				#{strGeometria, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.visor.domain.CapaDepartamento">
		update wcmc_hef.bas_limpol_departamento
		<set>
			<if test="intIdGid != null">
				cd_gid = #{intIdGid,jdbcType=INTEGER},
			</if>
			<if test="strIdDepartamento != null">
				cd_departa = #{strIdDepartamento,jdbcType=VARCHAR},
			</if>
			<if test="strNombre != null">
				nm_departa = #{strNombre,jdbcType=VARCHAR},
			</if>
			<if test="dblArea != null">
				ha_area = #{dblArea,jdbcType=DOUBLE},
			</if>
			<if test="timFechaRegistro != null">
				fc_registr = #{timFechaRegistro,jdbcType=TIMESTAMP},
			</if>
			<if test="strGeometria != null">
				si_geometr = #{strGeometria,jdbcType=VARCHAR},
			</if>
		</set>
		where 1 = 1
		and cd_gid = #{intIdGid,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.visor.domain.CapaDepartamentoKey">
		delete from wcmc_hef.bas_limpol_departamento
		where 1 = 1
		<if test="intIdGid != null">
		and cd_gid = #{intIdGid,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		cd_gid, 
		cd_departa, 
		nm_departa, 
		ha_area, 
		fc_registr, 
		ST_AsText(ST_Boundary(Box2D(si_geometr))) as si_geometr
	</sql>
</mapper>