<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.visor.mapper.CapaProvinciaMapper">
	<resultMap id="CapaProvinciaMap" type="wcmc.hef.dao.visor.domain.CapaProvincia">
		<result column="cd_gid" property="intIdGid" jdbcType="INTEGER"/>
		<result column="cd_provinc" property="strIdProvincia" jdbcType="VARCHAR"/>
		<result column="nm_provinc" property="strNombreProvincia" jdbcType="VARCHAR"/>
		<result column="nm_departa" property="strNombreDepartamento" jdbcType="VARCHAR"/>
		<result column="de_fecini" property="strFechaInicio" jdbcType="VARCHAR"/>
		<result column="de_fecfin" property="strFechaFin" jdbcType="VARCHAR"/>
		<result column="de_dcto" property="strDcto" jdbcType="VARCHAR"/>
		<result column="de_ley" property="strLey" jdbcType="VARCHAR"/>
		<result column="ha_longitu" property="dblLongitud" jdbcType="DOUBLE"/>
		<result column="ha_area" property="dblArea" jdbcType="DOUBLE"/>
		<result column="fc_fecreg" property="timFechaRegistro" jdbcType="TIMESTAMP"/>
		<result column="si_geometr" property="strGeometria" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="CapaProvinciaMap" parameterType="wcmc.hef.dao.visor.domain.CapaProvinciaParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.bas_limpol_provincia as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="CapaProvinciaMap" parameterType="wcmc.hef.dao.visor.domain.CapaProvinciaKey" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.bas_limpol_provincia as tab
		where 1 = 1
		and cd_gid = #{intIdGid,jdbcType=INTEGER}
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.visor.domain.CapaProvincia">
		insert into wcmc_hef.bas_limpol_provincia
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="intIdGid != null">
				cd_gid,
			</if>
			<if test="strIdProvincia != null">
				cd_provinc,
			</if>
			<if test="strNombreProvincia != null">
				nm_provinc,
			</if>
			<if test="strNombreDepartamento != null">
				nm_departa,
			</if>
			<if test="strFechaInicio != null">
				de_fecini,
			</if>
			<if test="strFechaFin != null">
				de_fecfin,
			</if>
			<if test="strDcto != null">
				de_dcto,
			</if>
			<if test="strLey != null">
				de_ley,
			</if>
			<if test="dblLongitud != null">
				ha_longitu,
			</if>
			<if test="dblArea != null">
				ha_area,
			</if>
			<if test="timFechaRegistro != null">
				fc_fecreg,
			</if>
			<if test="strGeometria != null">
				si_geometr,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="intIdGid != null">
				#{intIdGid, jdbcType=INTEGER},
			</if>
			<if test="strIdProvincia != null">
				#{strIdProvincia, jdbcType=VARCHAR},
			</if>
			<if test="strNombreProvincia != null">
				#{strNombreProvincia, jdbcType=VARCHAR},
			</if>
			<if test="strNombreDepartamento != null">
				#{strNombreDepartamento, jdbcType=VARCHAR},
			</if>
			<if test="strFechaInicio != null">
				#{strFechaInicio, jdbcType=VARCHAR},
			</if>
			<if test="strFechaFin != null">
				#{strFechaFin, jdbcType=VARCHAR},
			</if>
			<if test="strDcto != null">
				#{strDcto, jdbcType=VARCHAR},
			</if>
			<if test="strLey != null">
				#{strLey, jdbcType=VARCHAR},
			</if>
			<if test="dblLongitud != null">
				#{dblLongitud, jdbcType=DOUBLE},
			</if>
			<if test="dblArea != null">
				#{dblArea, jdbcType=DOUBLE},
			</if>
			<if test="timFechaRegistro != null">
				#{timFechaRegistro, jdbcType=TIMESTAMP},
			</if>
			<if test="strGeometria != null">
				#{strGeometria, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.visor.domain.CapaProvincia">
		update wcmc_hef.bas_limpol_provincia
		<set>
			<if test="intIdGid != null">
				cd_gid = #{intIdGid,jdbcType=INTEGER},
			</if>
			<if test="strIdProvincia != null">
				cd_provinc = #{strIdProvincia,jdbcType=VARCHAR},
			</if>
			<if test="strNombreProvincia != null">
				nm_provinc = #{strNombreProvincia,jdbcType=VARCHAR},
			</if>
			<if test="strNombreDepartamento != null">
				nm_departa = #{strNombreDepartamento,jdbcType=VARCHAR},
			</if>
			<if test="strFechaInicio != null">
				de_fecini = #{strFechaInicio,jdbcType=VARCHAR},
			</if>
			<if test="strFechaFin != null">
				de_fecfin = #{strFechaFin,jdbcType=VARCHAR},
			</if>
			<if test="strDcto != null">
				de_dcto = #{strDcto,jdbcType=VARCHAR},
			</if>
			<if test="strLey != null">
				de_ley = #{strLey,jdbcType=VARCHAR},
			</if>
			<if test="dblLongitud != null">
				ha_longitu = #{dblLongitud,jdbcType=DOUBLE},
			</if>
			<if test="dblArea != null">
				ha_area = #{dblArea,jdbcType=DOUBLE},
			</if>
			<if test="timFechaRegistro != null">
				fc_fecreg = #{timFechaRegistro,jdbcType=TIMESTAMP},
			</if>
			<if test="strGeometria != null">
				si_geometr = #{strGeometria,jdbcType=VARCHAR},
			</if>
		</set>
		where 1 = 1
		and cd_gid = #{intIdGid,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.visor.domain.CapaProvinciaKey">
		delete from wcmc_hef.bas_limpol_provincia
		where 1 = 1
		<if test="intIdGid != null">
		and cd_gid = #{intIdGid,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		cd_gid, 
		cd_provinc, 
		nm_provinc, 
		nm_departa, 
		de_fecini, 
		de_fecfin, 
		de_dcto, 
		de_ley, 
		ha_longitu, 
		ha_area, 
		fc_fecreg, 
		ST_AsText(ST_Boundary(Box2D(si_geometr))) as si_geometr
	</sql>
</mapper>