<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.visor.mapper.CapaProvinciaMapper">
	<resultMap id="CapaProvinciaMap" type="wcmc.hef.dao.visor.domain.CapaProvincia">
		<result column="gid" property="intIdGid" jdbcType="INTEGER"/>
		<result column="id_provincia" property="strIdProvincia" jdbcType="VARCHAR"/>
		<result column="nom_provincia" property="strNombreProvincia" jdbcType="VARCHAR"/>
		<result column="nom_departamento" property="strNombreDepartamento" jdbcType="VARCHAR"/>
		<result column="des_fecinicio" property="strFechaInicio" jdbcType="VARCHAR"/>
		<result column="des_fecfin" property="strFechaFin" jdbcType="VARCHAR"/>
		<result column="des_dcto" property="strDcto" jdbcType="VARCHAR"/>
		<result column="des_ley" property="strLey" jdbcType="VARCHAR"/>
		<result column="num_longitud" property="dblLongitud" jdbcType="DOUBLE"/>
		<result column="num_area" property="dblArea" jdbcType="DOUBLE"/>
		<result column="fec_registro" property="timFechaRegistro" jdbcType="TIMESTAMP"/>
		<result column="shp_geometria" property="strGeometria" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="CapaProvinciaMap" parameterType="wcmc.hef.dao.visor.domain.CapaProvinciaParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.t009capaprovincia as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="CapaProvinciaMap" parameterType="wcmc.hef.dao.visor.domain.CapaProvinciaKey" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.t009capaprovincia as tab
		where 1 = 1
		and gid = #{intIdGid,jdbcType=INTEGER}
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.visor.domain.CapaProvincia">
		insert into wcmc_hef.t009capaprovincia
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="intIdGid != null">
				gid,
			</if>
			<if test="strIdProvincia != null">
				id_provincia,
			</if>
			<if test="strNombreProvincia != null">
				nom_provincia,
			</if>
			<if test="strNombreDepartamento != null">
				nom_departamento,
			</if>
			<if test="strFechaInicio != null">
				des_fecinicio,
			</if>
			<if test="strFechaFin != null">
				des_fecfin,
			</if>
			<if test="strDcto != null">
				des_dcto,
			</if>
			<if test="strLey != null">
				des_ley,
			</if>
			<if test="dblLongitud != null">
				num_longitud,
			</if>
			<if test="dblArea != null">
				num_area,
			</if>
			<if test="timFechaRegistro != null">
				fec_registro,
			</if>
			<if test="strGeometria != null">
				shp_geometria,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="intIdGid != null">
				#{intIdGid, jdbcType=INTEGER},
			</if>
			<if test="strIdProvincia != null">
				#{strIdProvincia, jdbcType=VARCHAR},
			</if>
			<if test="strNombreProvincia != null">
				#{strNombreProvincia, jdbcType=VARCHAR},
			</if>
			<if test="strNombreDepartamento != null">
				#{strNombreDepartamento, jdbcType=VARCHAR},
			</if>
			<if test="strFechaInicio != null">
				#{strFechaInicio, jdbcType=VARCHAR},
			</if>
			<if test="strFechaFin != null">
				#{strFechaFin, jdbcType=VARCHAR},
			</if>
			<if test="strDcto != null">
				#{strDcto, jdbcType=VARCHAR},
			</if>
			<if test="strLey != null">
				#{strLey, jdbcType=VARCHAR},
			</if>
			<if test="dblLongitud != null">
				#{dblLongitud, jdbcType=DOUBLE},
			</if>
			<if test="dblArea != null">
				#{dblArea, jdbcType=DOUBLE},
			</if>
			<if test="timFechaRegistro != null">
				#{timFechaRegistro, jdbcType=TIMESTAMP},
			</if>
			<if test="strGeometria != null">
				#{strGeometria, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.visor.domain.CapaProvincia">
		update wcmc_hef.t009capaprovincia
		<set>
			<if test="intIdGid != null">
				gid = #{intIdGid,jdbcType=INTEGER},
			</if>
			<if test="strIdProvincia != null">
				id_provincia = #{strIdProvincia,jdbcType=VARCHAR},
			</if>
			<if test="strNombreProvincia != null">
				nom_provincia = #{strNombreProvincia,jdbcType=VARCHAR},
			</if>
			<if test="strNombreDepartamento != null">
				nom_departamento = #{strNombreDepartamento,jdbcType=VARCHAR},
			</if>
			<if test="strFechaInicio != null">
				des_fecinicio = #{strFechaInicio,jdbcType=VARCHAR},
			</if>
			<if test="strFechaFin != null">
				des_fecfin = #{strFechaFin,jdbcType=VARCHAR},
			</if>
			<if test="strDcto != null">
				des_dcto = #{strDcto,jdbcType=VARCHAR},
			</if>
			<if test="strLey != null">
				des_ley = #{strLey,jdbcType=VARCHAR},
			</if>
			<if test="dblLongitud != null">
				num_longitud = #{dblLongitud,jdbcType=DOUBLE},
			</if>
			<if test="dblArea != null">
				num_area = #{dblArea,jdbcType=DOUBLE},
			</if>
			<if test="timFechaRegistro != null">
				fec_registro = #{timFechaRegistro,jdbcType=TIMESTAMP},
			</if>
			<if test="strGeometria != null">
				shp_geometria = #{strGeometria,jdbcType=VARCHAR},
			</if>
		</set>
		where 1 = 1
		and gid = #{intIdGid,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.visor.domain.CapaProvinciaKey">
		delete from wcmc_hef.t009capaprovincia
		where 1 = 1
		<if test="intIdGid != null">
		and gid = #{intIdGid,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		gid, 
		id_provincia, 
		nom_provincia, 
		nom_departamento, 
		des_fecinicio, 
		des_fecfin, 
		des_dcto, 
		des_ley, 
		num_longitud, 
		num_area, 
		fec_registro, 
		ST_AsText(ST_Boundary(Box2D(shp_geometria))) as shp_geometria
	</sql>
</mapper>