<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.capa.mapper.BasLimProvinciaMapper">
	<resultMap id="BasLimProvinciaMap" type="wcmc.hef.dao.capa.domain.BasLimProvincia">
		<result column="cd_gid" property="srlGid" jdbcType="INTEGER"/>
		<result column="si_the_geom" property="strTheGeom" jdbcType="VARCHAR"/>
		<result column="de_iddpto" property="strIddpto" jdbcType="VARCHAR"/>
		<result column="de_nombdep" property="strNombdep" jdbcType="VARCHAR"/>
		<result column="de_idprov" property="strIdprov" jdbcType="VARCHAR"/>
		<result column="de_nombprov" property="strNombprov" jdbcType="VARCHAR"/>
		<result column="de_capital" property="strCapital" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="BasLimProvinciaMap" parameterType="wcmc.hef.dao.capa.domain.BasLimProvinciaParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.bas_lim_provincia as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	
	<select id="selectByDefaultParameterGeometry" resultMap="BasLimProvinciaMap" parameterType="wcmc.hef.dao.capa.domain.BasLimProvinciaParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List_Geometry" />
		from wcmc_hef.bas_lim_provincia as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	
	<select id="selectByDefaultParameterCombo" resultMap="BasLimProvinciaMap" parameterType="wcmc.hef.dao.capa.domain.BasLimProvinciaParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List_Combo" />
		from wcmc_hef.bas_lim_provincia as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BasLimProvinciaMap" parameterType="wcmc.hef.dao.capa.domain.BasLimProvinciaKey" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.bas_lim_provincia as tab
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</select>
	<select id="selectByPrimaryKeyGeometry" resultMap="BasLimProvinciaMap" parameterType="wcmc.hef.dao.capa.domain.BasLimProvinciaKey" >
		select 
		<include refid="Base_Column_List_Geometry" />
		from wcmc_hef.bas_lim_provincia as tab
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</select>

	<select id="lastSequence" resultType="java.lang.Integer">
		select currval('wcmc_hef.bas_lim_provincia_seq')
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.capa.domain.BasLimProvincia">
		insert into wcmc_hef.bas_lim_provincia
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				si_the_geom,
			</if>
			<if test="strIddpto != null">
				de_iddpto,
			</if>
			<if test="strNombdep != null">
				de_nombdep,
			</if>
			<if test="strIdprov != null">
				de_idprov,
			</if>
			<if test="strNombprov != null">
				de_nombprov,
			</if>
			<if test="strCapital != null">
				de_capital,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				#{strTheGeom, jdbcType=VARCHAR},
			</if>
			<if test="strIddpto != null">
				#{strIddpto, jdbcType=VARCHAR},
			</if>
			<if test="strNombdep != null">
				#{strNombdep, jdbcType=VARCHAR},
			</if>
			<if test="strIdprov != null">
				#{strIdprov, jdbcType=VARCHAR},
			</if>
			<if test="strNombprov != null">
				#{strNombprov, jdbcType=VARCHAR},
			</if>
			<if test="strCapital != null">
				#{strCapital, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.capa.domain.BasLimProvincia">
		update wcmc_hef.bas_lim_provincia
		<set>
			<if test="strTheGeom != null">
				si_the_geom = #{strTheGeom,jdbcType=VARCHAR},
			</if>
			<if test="strIddpto != null">
				de_iddpto = #{strIddpto,jdbcType=VARCHAR},
			</if>
			<if test="strNombdep != null">
				de_nombdep = #{strNombdep,jdbcType=VARCHAR},
			</if>
			<if test="strIdprov != null">
				de_idprov = #{strIdprov,jdbcType=VARCHAR},
			</if>
			<if test="strNombprov != null">
				de_nombprov = #{strNombprov,jdbcType=VARCHAR},
			</if>
			<if test="strCapital != null">
				de_capital = #{strCapital,jdbcType=VARCHAR},
			</if>
		</set>
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.capa.domain.BasLimProvinciaKey">
		delete from wcmc_hef.bas_lim_provincia
		where 1 = 1
		<if test="srlGid != null">
		and cd_gid = #{srlGid,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		cd_gid, 
		ST_AsText(ST_Boundary(Box2D(si_the_geom))) as si_the_geom, 
		de_iddpto, 
		de_nombdep, 
		de_idprov, 
		de_nombprov, 
		de_capital
	</sql>
	<sql id="Base_Column_List_Geometry">
		cd_gid, 
		ST_AsText(si_the_geom) as si_the_geom, 
		de_iddpto, 
		de_nombdep, 
		de_idprov, 
		de_nombprov, 
		de_capital
	</sql>
	<sql id="Base_Column_List_Combo">
		cd_gid, 
		'' as si_the_geom, 
		de_iddpto, 
		de_nombdep, 
		de_idprov, 
		de_nombprov, 
		de_capital
	</sql>

</mapper>