<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.capa.mapper.RedVecinalMapper">
	<resultMap id="RedVecinalMap" type="wcmc.hef.dao.capa.domain.RedVecinal">
		<result column="cd_gid" property="srlGid" jdbcType="INTEGER"/>
		<result column="si_the_geom" property="strTheGeom" jdbcType="VARCHAR"/>
		<result column="de_provinc" property="strProvinc" jdbcType="VARCHAR"/>
		<result column="de_ruta" property="strRuta" jdbcType="VARCHAR"/>
		<result column="de_superficie" property="strSuperficie" jdbcType="VARCHAR"/>
		<result column="fc_fecreg" property="timFechaRegistro" jdbcType="TIMESTAMP"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="RedVecinalMap" parameterType="wcmc.hef.dao.capa.domain.RedVecinalParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.red_vecinal as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="RedVecinalMap" parameterType="wcmc.hef.dao.capa.domain.RedVecinalKey" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.red_vecinal as tab
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</select>

	<select id="lastSequence" resultType="java.lang.Integer">
		select currval('wcmc_hef.red_vecinal_seq')
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.capa.domain.RedVecinal">
		insert into wcmc_hef.red_vecinal
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				si_the_geom,
			</if>
			<if test="strProvinc != null">
				de_provinc,
			</if>
			<if test="strRuta != null">
				de_ruta,
			</if>
			<if test="strSuperficie != null">
				de_superficie,
			</if>
			<if test="timFechaRegistro != null">
				fc_fecreg,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				#{strTheGeom, jdbcType=VARCHAR},
			</if>
			<if test="strProvinc != null">
				#{strProvinc, jdbcType=VARCHAR},
			</if>
			<if test="strRuta != null">
				#{strRuta, jdbcType=VARCHAR},
			</if>
			<if test="strSuperficie != null">
				#{strSuperficie, jdbcType=VARCHAR},
			</if>
			<if test="timFechaRegistro != null">
				#{timFechaRegistro, jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.capa.domain.RedVecinal">
		update wcmc_hef.red_vecinal
		<set>
			<if test="strTheGeom != null">
				si_the_geom = #{strTheGeom,jdbcType=VARCHAR},
			</if>
			<if test="strProvinc != null">
				de_provinc = #{strProvinc,jdbcType=VARCHAR},
			</if>
			<if test="strRuta != null">
				de_ruta = #{strRuta,jdbcType=VARCHAR},
			</if>
			<if test="strSuperficie != null">
				de_superficie = #{strSuperficie,jdbcType=VARCHAR},
			</if>
			<if test="timFechaRegistro != null">
				fc_fecreg = #{timFechaRegistro,jdbcType=TIMESTAMP},
			</if>
		</set>
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.capa.domain.RedVecinalKey">
		delete from wcmc_hef.red_vecinal
		where 1 = 1
		<if test="srlGid != null">
		and cd_gid = #{srlGid,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		cd_gid, 
		si_the_geom, 
		de_provinc, 
		de_ruta, 
		de_superficie, 
		fc_fecreg
	</sql>
</mapper>