<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.capa.mapper.TemConcesionesForestalesMaderableConcursoMapper">
	<resultMap id="TemConcesionesForestalesMaderableConcursoMap" type="wcmc.hef.dao.capa.domain.TemConcesionesForestalesMaderableConcurso">
		<result column="cd_gid" property="srlGid" jdbcType="INTEGER"/>
		<result column="si_the_geom" property="strTheGeom" jdbcType="VARCHAR"/>
		<result column="de_modalidad" property="strModalidad" jdbcType="VARCHAR"/>
		<result column="de_titular" property="strTitular" jdbcType="VARCHAR"/>
		<result column="de_contrato" property="strContrato" jdbcType="VARCHAR"/>
		<result column="ha_area_sig" property="dblAreaSig" jdbcType="DOUBLE"/>
		<result column="ha_area_aprob" property="dblAreaAprob" jdbcType="DOUBLE"/>
		<result column="de_region" property="strRegion" jdbcType="VARCHAR"/>
		<result column="de_concurso" property="strConcurso" jdbcType="VARCHAR"/>
		<result column="de_num_conc" property="strNumConc" jdbcType="VARCHAR"/>
		<result column="de_situacion" property="strSituacion" jdbcType="VARCHAR"/>
		<result column="fc_fecreg" property="timFechaRegistro" jdbcType="TIMESTAMP"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="TemConcesionesForestalesMaderableConcursoMap" parameterType="wcmc.hef.dao.capa.domain.TemConcesionesForestalesMaderableConcursoParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_concesiones_forestales_maderable_concurso as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="TemConcesionesForestalesMaderableConcursoMap" parameterType="wcmc.hef.dao.capa.domain.TemConcesionesForestalesMaderableConcursoKey" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_concesiones_forestales_maderable_concurso as tab
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</select>

	<select id="lastSequence" resultType="java.lang.Integer">
		select currval('wcmc_hef.tem_concesiones_forestales_maderable_concurso_seq')
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.capa.domain.TemConcesionesForestalesMaderableConcurso">
		insert into wcmc_hef.tem_concesiones_forestales_maderable_concurso
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				si_the_geom,
			</if>
			<if test="strModalidad != null">
				de_modalidad,
			</if>
			<if test="strTitular != null">
				de_titular,
			</if>
			<if test="strContrato != null">
				de_contrato,
			</if>
			<if test="dblAreaSig != null">
				ha_area_sig,
			</if>
			<if test="dblAreaAprob != null">
				ha_area_aprob,
			</if>
			<if test="strRegion != null">
				de_region,
			</if>
			<if test="strConcurso != null">
				de_concurso,
			</if>
			<if test="strNumConc != null">
				de_num_conc,
			</if>
			<if test="strSituacion != null">
				de_situacion,
			</if>
			<if test="timFechaRegistro != null">
				fc_fecreg,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				#{strTheGeom, jdbcType=VARCHAR},
			</if>
			<if test="strModalidad != null">
				#{strModalidad, jdbcType=VARCHAR},
			</if>
			<if test="strTitular != null">
				#{strTitular, jdbcType=VARCHAR},
			</if>
			<if test="strContrato != null">
				#{strContrato, jdbcType=VARCHAR},
			</if>
			<if test="dblAreaSig != null">
				#{dblAreaSig, jdbcType=DOUBLE},
			</if>
			<if test="dblAreaAprob != null">
				#{dblAreaAprob, jdbcType=DOUBLE},
			</if>
			<if test="strRegion != null">
				#{strRegion, jdbcType=VARCHAR},
			</if>
			<if test="strConcurso != null">
				#{strConcurso, jdbcType=VARCHAR},
			</if>
			<if test="strNumConc != null">
				#{strNumConc, jdbcType=VARCHAR},
			</if>
			<if test="strSituacion != null">
				#{strSituacion, jdbcType=VARCHAR},
			</if>
			<if test="timFechaRegistro != null">
				#{timFechaRegistro, jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.capa.domain.TemConcesionesForestalesMaderableConcurso">
		update wcmc_hef.tem_concesiones_forestales_maderable_concurso
		<set>
			<if test="strTheGeom != null">
				si_the_geom = #{strTheGeom,jdbcType=VARCHAR},
			</if>
			<if test="strModalidad != null">
				de_modalidad = #{strModalidad,jdbcType=VARCHAR},
			</if>
			<if test="strTitular != null">
				de_titular = #{strTitular,jdbcType=VARCHAR},
			</if>
			<if test="strContrato != null">
				de_contrato = #{strContrato,jdbcType=VARCHAR},
			</if>
			<if test="dblAreaSig != null">
				ha_area_sig = #{dblAreaSig,jdbcType=DOUBLE},
			</if>
			<if test="dblAreaAprob != null">
				ha_area_aprob = #{dblAreaAprob,jdbcType=DOUBLE},
			</if>
			<if test="strRegion != null">
				de_region = #{strRegion,jdbcType=VARCHAR},
			</if>
			<if test="strConcurso != null">
				de_concurso = #{strConcurso,jdbcType=VARCHAR},
			</if>
			<if test="strNumConc != null">
				de_num_conc = #{strNumConc,jdbcType=VARCHAR},
			</if>
			<if test="strSituacion != null">
				de_situacion = #{strSituacion,jdbcType=VARCHAR},
			</if>
			<if test="timFechaRegistro != null">
				fc_fecreg = #{timFechaRegistro,jdbcType=TIMESTAMP},
			</if>
		</set>
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.capa.domain.TemConcesionesForestalesMaderableConcursoKey">
		delete from wcmc_hef.tem_concesiones_forestales_maderable_concurso
		where 1 = 1
		<if test="srlGid != null">
		and cd_gid = #{srlGid,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		cd_gid, 
		ST_AsText(ST_Boundary(Box2D(si_the_geom))) as si_the_geom, 
		de_modalidad, 
		de_titular, 
		de_contrato, 
		ha_area_sig, 
		ha_area_aprob, 
		de_region, 
		de_concurso, 
		de_num_conc, 
		de_situacion, 
		fc_fecreg
	</sql>
</mapper>