<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.capa.mapper.TemCoverturaVegetal2015Mapper">
	<resultMap id="TemCoverturaVegetal2015Map" type="wcmc.hef.dao.capa.domain.TemCoverturaVegetal2015">
		<result column="cd_gid" property="srlGid" jdbcType="INTEGER"/>
		<result column="si_the_geom" property="strTheGeom" jdbcType="VARCHAR"/>
		<result column="de_cobveg2013" property="strCobveg2013" jdbcType="VARCHAR"/>
		<result column="de_simbolo" property="strSimbolo" jdbcType="VARCHAR"/>
		<result column="de_fisiogr" property="strFisiogr" jdbcType="VARCHAR"/>
		<result column="ha_shape_leng" property="dblShapeLeng" jdbcType="DOUBLE"/>
		<result column="ha_shape_area" property="dblShapeArea" jdbcType="DOUBLE"/>
		<result column="de_cv_label" property="strCvLabel" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="TemCoverturaVegetal2015Map" parameterType="wcmc.hef.dao.capa.domain.TemCoverturaVegetal2015ParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_covertura_vegetal_2015 as tab
		${strHashConsulta}
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	
	<select id="selectByDefaultParameterGeometry" resultMap="TemCoverturaVegetal2015Map" parameterType="wcmc.hef.dao.capa.domain.TemCoverturaVegetal2015ParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List_Geometry" />
		from wcmc_hef.tem_covertura_vegetal_2015 as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	
	<select id="selectByDefaultParameterCombo" resultMap="TemCoverturaVegetal2015Map" parameterType="wcmc.hef.dao.capa.domain.TemCoverturaVegetal2015ParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List_Combo" />
		from wcmc_hef.tem_covertura_vegetal_2015 as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="TemCoverturaVegetal2015Map" parameterType="wcmc.hef.dao.capa.domain.TemCoverturaVegetal2015Key" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_covertura_vegetal_2015 as tab
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</select>
	<select id="selectByPrimaryKeyGeometry" resultMap="TemCoverturaVegetal2015Map" parameterType="wcmc.hef.dao.capa.domain.TemCoverturaVegetal2015Key" >
		select 
		<include refid="Base_Column_List_Geometry" />
		from wcmc_hef.tem_covertura_vegetal_2015 as tab
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</select>

	<select id="lastSequence" resultType="java.lang.Integer">
		select currval('wcmc_hef.tem_covertura_vegetal_2015_seq')
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.capa.domain.TemCoverturaVegetal2015">
		insert into wcmc_hef.tem_covertura_vegetal_2015
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				si_the_geom,
			</if>
			<if test="strCobveg2013 != null">
				de_cobveg2013,
			</if>
			<if test="strSimbolo != null">
				de_simbolo,
			</if>
			<if test="strFisiogr != null">
				de_fisiogr,
			</if>
			<if test="dblShapeLeng != null">
				ha_shape_leng,
			</if>
			<if test="dblShapeArea != null">
				ha_shape_area,
			</if>
			<if test="strCvLabel != null">
				de_cv_label,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				#{strTheGeom, jdbcType=VARCHAR},
			</if>
			<if test="strCobveg2013 != null">
				#{strCobveg2013, jdbcType=VARCHAR},
			</if>
			<if test="strSimbolo != null">
				#{strSimbolo, jdbcType=VARCHAR},
			</if>
			<if test="strFisiogr != null">
				#{strFisiogr, jdbcType=VARCHAR},
			</if>
			<if test="dblShapeLeng != null">
				#{dblShapeLeng, jdbcType=DOUBLE},
			</if>
			<if test="dblShapeArea != null">
				#{dblShapeArea, jdbcType=DOUBLE},
			</if>
			<if test="strCvLabel != null">
				#{strCvLabel, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.capa.domain.TemCoverturaVegetal2015">
		update wcmc_hef.tem_covertura_vegetal_2015
		<set>
			<if test="strTheGeom != null">
				si_the_geom = #{strTheGeom,jdbcType=VARCHAR},
			</if>
			<if test="strCobveg2013 != null">
				de_cobveg2013 = #{strCobveg2013,jdbcType=VARCHAR},
			</if>
			<if test="strSimbolo != null">
				de_simbolo = #{strSimbolo,jdbcType=VARCHAR},
			</if>
			<if test="strFisiogr != null">
				de_fisiogr = #{strFisiogr,jdbcType=VARCHAR},
			</if>
			<if test="dblShapeLeng != null">
				ha_shape_leng = #{dblShapeLeng,jdbcType=DOUBLE},
			</if>
			<if test="dblShapeArea != null">
				ha_shape_area = #{dblShapeArea,jdbcType=DOUBLE},
			</if>
			<if test="strCvLabel != null">
				de_cv_label = #{strCvLabel,jdbcType=VARCHAR},
			</if>
		</set>
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.capa.domain.TemCoverturaVegetal2015Key">
		delete from wcmc_hef.tem_covertura_vegetal_2015
		where 1 = 1
		<if test="srlGid != null">
		and cd_gid = #{srlGid,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		cd_gid, 
		ST_AsText(ST_Boundary(Box2D(si_the_geom))) as si_the_geom, 
		de_cobveg2013, 
		de_simbolo, 
		de_fisiogr, 
		ha_shape_leng, 
		ha_shape_area, 
		de_cv_label
	</sql>
	<sql id="Base_Column_List_Geometry">
		cd_gid, 
		ST_AsText(si_the_geom) as si_the_geom, 
		de_cobveg2013, 
		de_simbolo, 
		de_fisiogr, 
		ha_shape_leng, 
		ha_shape_area, 
		de_cv_label
	</sql>
	<sql id="Base_Column_List_Combo">
		cd_gid, 
		'' as si_the_geom, 
		de_cobveg2013, 
		de_simbolo, 
		de_fisiogr, 
		ha_shape_leng, 
		ha_shape_area, 
		de_cv_label
	</sql>

</mapper>