<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.capa.mapper.TemCostoOportunidadDeforestacionMapper">
	<resultMap id="TemCostoOportunidadDeforestacionMap" type="wcmc.hef.dao.capa.domain.TemCostoOportunidadDeforestacion">
		<result column="cd_gid" property="srlGid" jdbcType="INTEGER"/>
		<result column="si_the_geom" property="strTheGeom" jdbcType="VARCHAR"/>
		<result column="de_nombdist" property="strNombdist" jdbcType="VARCHAR"/>
		<result column="ha_cop_tco2_h" property="dblCopTco2H" jdbcType="DOUBLE"/>
		<result column="fc_fecreg" property="timFechaRegistro" jdbcType="TIMESTAMP"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="TemCostoOportunidadDeforestacionMap" parameterType="wcmc.hef.dao.capa.domain.TemCostoOportunidadDeforestacionParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_costo_oportunidad_deforestacion as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	
	<select id="selectByDefaultParameterGeometry" resultMap="TemCostoOportunidadDeforestacionMap" parameterType="wcmc.hef.dao.capa.domain.TemCostoOportunidadDeforestacionParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List_Geometry" />
		from wcmc_hef.tem_costo_oportunidad_deforestacion as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="TemCostoOportunidadDeforestacionMap" parameterType="wcmc.hef.dao.capa.domain.TemCostoOportunidadDeforestacionKey" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_costo_oportunidad_deforestacion as tab
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</select>

	<select id="lastSequence" resultType="java.lang.Integer">
		select currval('wcmc_hef.tem_costo_oportunidad_deforestacion_seq')
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.capa.domain.TemCostoOportunidadDeforestacion">
		insert into wcmc_hef.tem_costo_oportunidad_deforestacion
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				si_the_geom,
			</if>
			<if test="strNombdist != null">
				de_nombdist,
			</if>
			<if test="dblCopTco2H != null">
				ha_cop_tco2_h,
			</if>
			<if test="timFechaRegistro != null">
				fc_fecreg,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				#{strTheGeom, jdbcType=VARCHAR},
			</if>
			<if test="strNombdist != null">
				#{strNombdist, jdbcType=VARCHAR},
			</if>
			<if test="dblCopTco2H != null">
				#{dblCopTco2H, jdbcType=DOUBLE},
			</if>
			<if test="timFechaRegistro != null">
				#{timFechaRegistro, jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.capa.domain.TemCostoOportunidadDeforestacion">
		update wcmc_hef.tem_costo_oportunidad_deforestacion
		<set>
			<if test="strTheGeom != null">
				si_the_geom = #{strTheGeom,jdbcType=VARCHAR},
			</if>
			<if test="strNombdist != null">
				de_nombdist = #{strNombdist,jdbcType=VARCHAR},
			</if>
			<if test="dblCopTco2H != null">
				ha_cop_tco2_h = #{dblCopTco2H,jdbcType=DOUBLE},
			</if>
			<if test="timFechaRegistro != null">
				fc_fecreg = #{timFechaRegistro,jdbcType=TIMESTAMP},
			</if>
		</set>
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.capa.domain.TemCostoOportunidadDeforestacionKey">
		delete from wcmc_hef.tem_costo_oportunidad_deforestacion
		where 1 = 1
		<if test="srlGid != null">
		and cd_gid = #{srlGid,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		cd_gid, 
		ST_AsText(ST_Boundary(Box2D(si_the_geom))) as si_the_geom, 
		de_nombdist, 
		ha_cop_tco2_h, 
		fc_fecreg
	</sql>
	<sql id="Base_Column_List_Geometry">
		cd_gid, 
		ST_AsText(si_the_geom) as si_the_geom, 
		de_nombdist, 
		ha_cop_tco2_h, 
		fc_fecreg
	</sql>

</mapper>