<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.capa.mapper.TemHumedalesRamsarMapper">
	<resultMap id="TemHumedalesRamsarMap" type="wcmc.hef.dao.capa.domain.TemHumedalesRamsar">
		<result column="cd_gid" property="srlGid" jdbcType="INTEGER"/>
		<result column="si_the_geom" property="strTheGeom" jdbcType="VARCHAR"/>
		<result column="de_categorías" property="strCategorías" jdbcType="VARCHAR"/>
		<result column="de_nombre" property="strNombre" jdbcType="VARCHAR"/>
		<result column="de_base_legal" property="strBaseLegal" jdbcType="VARCHAR"/>
		<result column="de_ubica_poli" property="strUbicaPoli" jdbcType="VARCHAR"/>
		<result column="ha_area_legal" property="dblAreaLegal" jdbcType="DOUBLE"/>
		<result column="cd_id__" property="intId" jdbcType="INTEGER"/>
		<result column="de_observa" property="strObserva" jdbcType="VARCHAR"/>
		<result column="ha_shape_area" property="dblShapeArea" jdbcType="DOUBLE"/>
		<result column="ha_shape_len" property="dblShapeLen" jdbcType="DOUBLE"/>
		<result column="fc_fecreg" property="timFechaRegistro" jdbcType="TIMESTAMP"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="TemHumedalesRamsarMap" parameterType="wcmc.hef.dao.capa.domain.TemHumedalesRamsarParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_humedales_ramsar as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="TemHumedalesRamsarMap" parameterType="wcmc.hef.dao.capa.domain.TemHumedalesRamsarKey" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_humedales_ramsar as tab
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</select>

	<select id="lastSequence" resultType="java.lang.Integer">
		select currval('wcmc_hef.tem_humedales_ramsar_seq')
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.capa.domain.TemHumedalesRamsar">
		insert into wcmc_hef.tem_humedales_ramsar
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				si_the_geom,
			</if>
			<if test="strCategorías != null">
				de_categorías,
			</if>
			<if test="strNombre != null">
				de_nombre,
			</if>
			<if test="strBaseLegal != null">
				de_base_legal,
			</if>
			<if test="strUbicaPoli != null">
				de_ubica_poli,
			</if>
			<if test="dblAreaLegal != null">
				ha_area_legal,
			</if>
			<if test="intId != null">
				cd_id__,
			</if>
			<if test="strObserva != null">
				de_observa,
			</if>
			<if test="dblShapeArea != null">
				ha_shape_area,
			</if>
			<if test="dblShapeLen != null">
				ha_shape_len,
			</if>
			<if test="timFechaRegistro != null">
				fc_fecreg,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				#{strTheGeom, jdbcType=VARCHAR},
			</if>
			<if test="strCategorías != null">
				#{strCategorías, jdbcType=VARCHAR},
			</if>
			<if test="strNombre != null">
				#{strNombre, jdbcType=VARCHAR},
			</if>
			<if test="strBaseLegal != null">
				#{strBaseLegal, jdbcType=VARCHAR},
			</if>
			<if test="strUbicaPoli != null">
				#{strUbicaPoli, jdbcType=VARCHAR},
			</if>
			<if test="dblAreaLegal != null">
				#{dblAreaLegal, jdbcType=DOUBLE},
			</if>
			<if test="intId != null">
				#{intId, jdbcType=INTEGER},
			</if>
			<if test="strObserva != null">
				#{strObserva, jdbcType=VARCHAR},
			</if>
			<if test="dblShapeArea != null">
				#{dblShapeArea, jdbcType=DOUBLE},
			</if>
			<if test="dblShapeLen != null">
				#{dblShapeLen, jdbcType=DOUBLE},
			</if>
			<if test="timFechaRegistro != null">
				#{timFechaRegistro, jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.capa.domain.TemHumedalesRamsar">
		update wcmc_hef.tem_humedales_ramsar
		<set>
			<if test="strTheGeom != null">
				si_the_geom = #{strTheGeom,jdbcType=VARCHAR},
			</if>
			<if test="strCategorías != null">
				de_categorías = #{strCategorías,jdbcType=VARCHAR},
			</if>
			<if test="strNombre != null">
				de_nombre = #{strNombre,jdbcType=VARCHAR},
			</if>
			<if test="strBaseLegal != null">
				de_base_legal = #{strBaseLegal,jdbcType=VARCHAR},
			</if>
			<if test="strUbicaPoli != null">
				de_ubica_poli = #{strUbicaPoli,jdbcType=VARCHAR},
			</if>
			<if test="dblAreaLegal != null">
				ha_area_legal = #{dblAreaLegal,jdbcType=DOUBLE},
			</if>
			<if test="intId != null">
				cd_id__ = #{intId,jdbcType=INTEGER},
			</if>
			<if test="strObserva != null">
				de_observa = #{strObserva,jdbcType=VARCHAR},
			</if>
			<if test="dblShapeArea != null">
				ha_shape_area = #{dblShapeArea,jdbcType=DOUBLE},
			</if>
			<if test="dblShapeLen != null">
				ha_shape_len = #{dblShapeLen,jdbcType=DOUBLE},
			</if>
			<if test="timFechaRegistro != null">
				fc_fecreg = #{timFechaRegistro,jdbcType=TIMESTAMP},
			</if>
		</set>
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.capa.domain.TemHumedalesRamsarKey">
		delete from wcmc_hef.tem_humedales_ramsar
		where 1 = 1
		<if test="srlGid != null">
		and cd_gid = #{srlGid,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		cd_gid, 
		ST_AsText(ST_Boundary(Box2D(si_the_geom))) as si_the_geom, 
		de_categorías, 
		de_nombre, 
		de_base_legal, 
		de_ubica_poli, 
		ha_area_legal, 
		cd_id__, 
		de_observa, 
		ha_shape_area, 
		ha_shape_len, 
		fc_fecreg
	</sql>
</mapper>