<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.capa.mapper.TemIndiceImportanciaBiologicaMapper">
	<resultMap id="TemIndiceImportanciaBiologicaMap" type="wcmc.hef.dao.capa.domain.TemIndiceImportanciaBiologica">
		<result column="cd_gid" property="srlGid" jdbcType="INTEGER"/>
		<result column="si_the_geom" property="strTheGeom" jdbcType="VARCHAR"/>
		<result column="ha_imp_glob" property="dblImpGlob" jdbcType="DOUBLE"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="TemIndiceImportanciaBiologicaMap" parameterType="wcmc.hef.dao.capa.domain.TemIndiceImportanciaBiologicaParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_indice_importancia_biologica as tab
		${strHashConsulta}
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	
	<select id="selectByDefaultParameterGeometry" resultMap="TemIndiceImportanciaBiologicaMap" parameterType="wcmc.hef.dao.capa.domain.TemIndiceImportanciaBiologicaParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List_Geometry" />
		from wcmc_hef.tem_indice_importancia_biologica as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	
	<select id="selectByDefaultParameterCombo" resultMap="TemIndiceImportanciaBiologicaMap" parameterType="wcmc.hef.dao.capa.domain.TemIndiceImportanciaBiologicaParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List_Combo" />
		from wcmc_hef.tem_indice_importancia_biologica as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="TemIndiceImportanciaBiologicaMap" parameterType="wcmc.hef.dao.capa.domain.TemIndiceImportanciaBiologicaKey" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_indice_importancia_biologica as tab
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</select>
	<select id="selectByPrimaryKeyGeometry" resultMap="TemIndiceImportanciaBiologicaMap" parameterType="wcmc.hef.dao.capa.domain.TemIndiceImportanciaBiologicaKey" >
		select 
		<include refid="Base_Column_List_Geometry" />
		from wcmc_hef.tem_indice_importancia_biologica as tab
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</select>

	<select id="lastSequence" resultType="java.lang.Integer">
		select currval('wcmc_hef.tem_indice_importancia_biologica_seq')
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.capa.domain.TemIndiceImportanciaBiologica">
		insert into wcmc_hef.tem_indice_importancia_biologica
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				si_the_geom,
			</if>
			<if test="dblImpGlob != null">
				ha_imp_glob,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				#{strTheGeom, jdbcType=VARCHAR},
			</if>
			<if test="dblImpGlob != null">
				#{dblImpGlob, jdbcType=DOUBLE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.capa.domain.TemIndiceImportanciaBiologica">
		update wcmc_hef.tem_indice_importancia_biologica
		<set>
			<if test="strTheGeom != null">
				si_the_geom = #{strTheGeom,jdbcType=VARCHAR},
			</if>
			<if test="dblImpGlob != null">
				ha_imp_glob = #{dblImpGlob,jdbcType=DOUBLE},
			</if>
		</set>
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.capa.domain.TemIndiceImportanciaBiologicaKey">
		delete from wcmc_hef.tem_indice_importancia_biologica
		where 1 = 1
		<if test="srlGid != null">
		and cd_gid = #{srlGid,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		cd_gid, 
		ST_AsText(ST_Boundary(Box2D(si_the_geom))) as si_the_geom, 
		ha_imp_glob
	</sql>
	<sql id="Base_Column_List_Geometry">
		cd_gid, 
		ST_AsText(si_the_geom) as si_the_geom, 
		ha_imp_glob
	</sql>
	<sql id="Base_Column_List_Combo">
		cd_gid, 
		'' as si_the_geom, 
		ha_imp_glob
	</sql>

</mapper>