<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.capa.mapper.TemProyectosPuntosMapper">
	<resultMap id="TemProyectosPuntosMap" type="wcmc.hef.dao.capa.domain.TemProyectosPuntos">
		<result column="cd_gid" property="srlGid" jdbcType="INTEGER"/>
		<result column="si_the_geom" property="strTheGeom" jdbcType="VARCHAR"/>
		<result column="de_nombre" property="strNombre" jdbcType="VARCHAR"/>
		<result column="de_iniciativa" property="strIniciativa" jdbcType="VARCHAR"/>
		<result column="de_referencia" property="strReferencia" jdbcType="VARCHAR"/>
		<result column="de_region_geo" property="strRegionGeo" jdbcType="VARCHAR"/>
		<result column="de_detalle_de" property="strDetalleDe" jdbcType="VARCHAR"/>
		<result column="de_otros" property="strOtros" jdbcType="VARCHAR"/>
		<result column="de_fecha_inic" property="strFechaInic" jdbcType="VARCHAR"/>
		<result column="de_fecha_term" property="strFechaTerm" jdbcType="VARCHAR"/>
		<result column="de_resultados" property="strResultados" jdbcType="VARCHAR"/>
		<result column="de_cooperante" property="strCooperante" jdbcType="VARCHAR"/>
		<result column="de_administra" property="strAdministra" jdbcType="VARCHAR"/>
		<result column="ha_usd" property="dblUsd" jdbcType="DOUBLE"/>
		<result column="de_institucio" property="strInstitucio" jdbcType="VARCHAR"/>
		<result column="de_persona_co" property="strPersonaCo" jdbcType="VARCHAR"/>
		<result column="de_cargo" property="strCargo" jdbcType="VARCHAR"/>
		<result column="de_contacto" property="strContacto" jdbcType="VARCHAR"/>
		<result column="de_direccion_" property="strDireccion" jdbcType="VARCHAR"/>
		<result column="de_instituc_1" property="strInstituc1" jdbcType="VARCHAR"/>
		<result column="de_link" property="strLink" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="TemProyectosPuntosMap" parameterType="wcmc.hef.dao.capa.domain.TemProyectosPuntosParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_proyectos_puntos as tab
		${strHashConsulta}
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	
	<select id="selectByDefaultParameterGeometry" resultMap="TemProyectosPuntosMap" parameterType="wcmc.hef.dao.capa.domain.TemProyectosPuntosParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List_Geometry" />
		from wcmc_hef.tem_proyectos_puntos as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	
	<select id="selectByDefaultParameterCombo" resultMap="TemProyectosPuntosMap" parameterType="wcmc.hef.dao.capa.domain.TemProyectosPuntosParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List_Combo" />
		from wcmc_hef.tem_proyectos_puntos as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="TemProyectosPuntosMap" parameterType="wcmc.hef.dao.capa.domain.TemProyectosPuntosKey" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_proyectos_puntos as tab
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</select>
	<select id="selectByPrimaryKeyGeometry" resultMap="TemProyectosPuntosMap" parameterType="wcmc.hef.dao.capa.domain.TemProyectosPuntosKey" >
		select 
		<include refid="Base_Column_List_Geometry" />
		from wcmc_hef.tem_proyectos_puntos as tab
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</select>

	<select id="lastSequence" resultType="java.lang.Integer">
		select currval('wcmc_hef.tem_proyectos_puntos_seq')
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.capa.domain.TemProyectosPuntos">
		insert into wcmc_hef.tem_proyectos_puntos
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				si_the_geom,
			</if>
			<if test="strNombre != null">
				de_nombre,
			</if>
			<if test="strIniciativa != null">
				de_iniciativa,
			</if>
			<if test="strReferencia != null">
				de_referencia,
			</if>
			<if test="strRegionGeo != null">
				de_region_geo,
			</if>
			<if test="strDetalleDe != null">
				de_detalle_de,
			</if>
			<if test="strOtros != null">
				de_otros,
			</if>
			<if test="strFechaInic != null">
				de_fecha_inic,
			</if>
			<if test="strFechaTerm != null">
				de_fecha_term,
			</if>
			<if test="strResultados != null">
				de_resultados,
			</if>
			<if test="strCooperante != null">
				de_cooperante,
			</if>
			<if test="strAdministra != null">
				de_administra,
			</if>
			<if test="dblUsd != null">
				ha_usd,
			</if>
			<if test="strInstitucio != null">
				de_institucio,
			</if>
			<if test="strPersonaCo != null">
				de_persona_co,
			</if>
			<if test="strCargo != null">
				de_cargo,
			</if>
			<if test="strContacto != null">
				de_contacto,
			</if>
			<if test="strDireccion != null">
				de_direccion_,
			</if>
			<if test="strInstituc1 != null">
				de_instituc_1,
			</if>
			<if test="strLink != null">
				de_link,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				#{strTheGeom, jdbcType=VARCHAR},
			</if>
			<if test="strNombre != null">
				#{strNombre, jdbcType=VARCHAR},
			</if>
			<if test="strIniciativa != null">
				#{strIniciativa, jdbcType=VARCHAR},
			</if>
			<if test="strReferencia != null">
				#{strReferencia, jdbcType=VARCHAR},
			</if>
			<if test="strRegionGeo != null">
				#{strRegionGeo, jdbcType=VARCHAR},
			</if>
			<if test="strDetalleDe != null">
				#{strDetalleDe, jdbcType=VARCHAR},
			</if>
			<if test="strOtros != null">
				#{strOtros, jdbcType=VARCHAR},
			</if>
			<if test="strFechaInic != null">
				#{strFechaInic, jdbcType=VARCHAR},
			</if>
			<if test="strFechaTerm != null">
				#{strFechaTerm, jdbcType=VARCHAR},
			</if>
			<if test="strResultados != null">
				#{strResultados, jdbcType=VARCHAR},
			</if>
			<if test="strCooperante != null">
				#{strCooperante, jdbcType=VARCHAR},
			</if>
			<if test="strAdministra != null">
				#{strAdministra, jdbcType=VARCHAR},
			</if>
			<if test="dblUsd != null">
				#{dblUsd, jdbcType=DOUBLE},
			</if>
			<if test="strInstitucio != null">
				#{strInstitucio, jdbcType=VARCHAR},
			</if>
			<if test="strPersonaCo != null">
				#{strPersonaCo, jdbcType=VARCHAR},
			</if>
			<if test="strCargo != null">
				#{strCargo, jdbcType=VARCHAR},
			</if>
			<if test="strContacto != null">
				#{strContacto, jdbcType=VARCHAR},
			</if>
			<if test="strDireccion != null">
				#{strDireccion, jdbcType=VARCHAR},
			</if>
			<if test="strInstituc1 != null">
				#{strInstituc1, jdbcType=VARCHAR},
			</if>
			<if test="strLink != null">
				#{strLink, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.capa.domain.TemProyectosPuntos">
		update wcmc_hef.tem_proyectos_puntos
		<set>
			<if test="strTheGeom != null">
				si_the_geom = #{strTheGeom,jdbcType=VARCHAR},
			</if>
			<if test="strNombre != null">
				de_nombre = #{strNombre,jdbcType=VARCHAR},
			</if>
			<if test="strIniciativa != null">
				de_iniciativa = #{strIniciativa,jdbcType=VARCHAR},
			</if>
			<if test="strReferencia != null">
				de_referencia = #{strReferencia,jdbcType=VARCHAR},
			</if>
			<if test="strRegionGeo != null">
				de_region_geo = #{strRegionGeo,jdbcType=VARCHAR},
			</if>
			<if test="strDetalleDe != null">
				de_detalle_de = #{strDetalleDe,jdbcType=VARCHAR},
			</if>
			<if test="strOtros != null">
				de_otros = #{strOtros,jdbcType=VARCHAR},
			</if>
			<if test="strFechaInic != null">
				de_fecha_inic = #{strFechaInic,jdbcType=VARCHAR},
			</if>
			<if test="strFechaTerm != null">
				de_fecha_term = #{strFechaTerm,jdbcType=VARCHAR},
			</if>
			<if test="strResultados != null">
				de_resultados = #{strResultados,jdbcType=VARCHAR},
			</if>
			<if test="strCooperante != null">
				de_cooperante = #{strCooperante,jdbcType=VARCHAR},
			</if>
			<if test="strAdministra != null">
				de_administra = #{strAdministra,jdbcType=VARCHAR},
			</if>
			<if test="dblUsd != null">
				ha_usd = #{dblUsd,jdbcType=DOUBLE},
			</if>
			<if test="strInstitucio != null">
				de_institucio = #{strInstitucio,jdbcType=VARCHAR},
			</if>
			<if test="strPersonaCo != null">
				de_persona_co = #{strPersonaCo,jdbcType=VARCHAR},
			</if>
			<if test="strCargo != null">
				de_cargo = #{strCargo,jdbcType=VARCHAR},
			</if>
			<if test="strContacto != null">
				de_contacto = #{strContacto,jdbcType=VARCHAR},
			</if>
			<if test="strDireccion != null">
				de_direccion_ = #{strDireccion,jdbcType=VARCHAR},
			</if>
			<if test="strInstituc1 != null">
				de_instituc_1 = #{strInstituc1,jdbcType=VARCHAR},
			</if>
			<if test="strLink != null">
				de_link = #{strLink,jdbcType=VARCHAR},
			</if>
		</set>
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.capa.domain.TemProyectosPuntosKey">
		delete from wcmc_hef.tem_proyectos_puntos
		where 1 = 1
		<if test="srlGid != null">
		and cd_gid = #{srlGid,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		cd_gid, 
		ST_AsText(ST_Boundary(Box2D(si_the_geom))) as si_the_geom, 
		de_nombre, 
		de_iniciativa, 
		de_referencia, 
		de_region_geo, 
		de_detalle_de, 
		de_otros, 
		de_fecha_inic, 
		de_fecha_term, 
		de_resultados, 
		de_cooperante, 
		de_administra, 
		ha_usd, 
		de_institucio, 
		de_persona_co, 
		de_cargo, 
		de_contacto, 
		de_direccion_, 
		de_instituc_1, 
		de_link
	</sql>
	<sql id="Base_Column_List_Geometry">
		cd_gid, 
		ST_AsText(si_the_geom) as si_the_geom, 
		de_nombre, 
		de_iniciativa, 
		de_referencia, 
		de_region_geo, 
		de_detalle_de, 
		de_otros, 
		de_fecha_inic, 
		de_fecha_term, 
		de_resultados, 
		de_cooperante, 
		de_administra, 
		ha_usd, 
		de_institucio, 
		de_persona_co, 
		de_cargo, 
		de_contacto, 
		de_direccion_, 
		de_instituc_1, 
		de_link
	</sql>
	<sql id="Base_Column_List_Combo">
		cd_gid, 
		'' as si_the_geom, 
		de_nombre, 
		de_iniciativa, 
		de_referencia, 
		de_region_geo, 
		de_detalle_de, 
		de_otros, 
		de_fecha_inic, 
		de_fecha_term, 
		de_resultados, 
		de_cooperante, 
		de_administra, 
		ha_usd, 
		de_institucio, 
		de_persona_co, 
		de_cargo, 
		de_contacto, 
		de_direccion_, 
		de_instituc_1, 
		de_link
	</sql>

</mapper>