<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.capa.mapper.TemRiesgoErosionHidricaMapper">
	<resultMap id="TemRiesgoErosionHidricaMap" type="wcmc.hef.dao.capa.domain.BeanRaster">
		<result column="avg" property="dblValuePromedio" jdbcType="DOUBLE"/>
		<result column="min" property="dblValueMin" jdbcType="DOUBLE"/>
		<result column="max" property="dblValueMax" jdbcType="DOUBLE"/>
		<result column="sum" property="lngValueCount" jdbcType="BIGINT"/>
		<result column="stddev" property="dblStddev" jdbcType="DOUBLE"/>
	</resultMap>
	
	<select id="selectByGeometry" resultMap="TemRiesgoErosionHidricaMap" parameterType="wcmc.hef.dao.capa.domain.BeanRaster" >
		select sum(e.count), avg(e.mean), min(e.min), max(e.max), stddev(e.stddev) from
		(select (ST_SummaryStats(c.Clip, true)).*
		from (SELECT ST_Clip(A.cd_rast, QRY.geom, true) AS Clip
			FROM wcmc_hef.tem_riesgo_erosion_hidrica AS A,
				(select geom from ST_Transform(ST_GeomFromText(#{strPoligonoConsulta,jdbcType=VARCHAR}, 4326),32718) as geom) as QRY
			WHERE ST_Intersects(A.cd_rast, QRY.geom)) as c) as e
	</select>
	
	<select id="selectRidAfectadosByGeometry" resultType="Integer" parameterType="wcmc.hef.dao.capa.domain.BeanRaster" >
		select rid 
		from (select rid, ST_Transform(ST_Envelope(cd_rast), 4326) as box from wcmc_hef.tem_riesgo_erosion_hidrica) as ttt
		where ST_Intersects(
			ST_GeomFromText(#{strPoligonoConsulta,jdbcType=VARCHAR}, 4326),
			box)
	</select>
	
	<insert id="insertGeometryByRangoAndGeometry" parameterType="wcmc.hef.dao.capa.domain.BeanRaster" >
		insert into wcmc_hef.tem_query_acl (de_hash_consulta, cd_rid, de_tabla, cd_rast, fc_fecreg) 
		select ${strHashConsulta}, rid, 'tem_riesgo_erosion_hidrica', raster, current_timestamp
		from (
			SELECT rid, ST_MapAlgebra(cd_rast, 1, '1BB', '(${strRangoConsulta})::int') as raster
			FROM wcmc_hef.tem_riesgo_erosion_hidrica where rid in (${strInRids})
		) as ttt
		where ST_Intersects(
			ST_Transform(ST_GeomFromText(#{strPoligonoConsulta,jdbcType=VARCHAR}, 4326),32718),
			raster)
	</insert>
	
	<delete id="deleteQueryByUsuario" parameterType="wcmc.hef.dao.capa.domain.BeanRaster" >
		delete from wcmc_hef.tem_query_acl where de_hash_consulta = #{strHashConsulta,jdbcType=VARCHAR}
	</delete>
	
</mapper>