<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.capa.mapper.TemSoeconPrediosRuralesMapper">
	<resultMap id="TemSoeconPrediosRuralesMap" type="wcmc.hef.dao.capa.domain.TemSoeconPrediosRurales">
		<result column="cd_gid" property="srlGid" jdbcType="INTEGER"/>
		<result column="si_the_geom" property="strTheGeom" jdbcType="VARCHAR"/>
		<result column="de_departamen" property="strDepartamen" jdbcType="VARCHAR"/>
		<result column="de_datum" property="strDatum" jdbcType="VARCHAR"/>
		<result column="de_codproy" property="strCodproy" jdbcType="VARCHAR"/>
		<result column="cd_cnt_codpro" property="intCntCodpro" jdbcType="INTEGER"/>
		<result column="cd_orig_fid" property="intOrigFid" jdbcType="INTEGER"/>
		<result column="fc_fecreg" property="timFechaRegistro" jdbcType="TIMESTAMP"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="TemSoeconPrediosRuralesMap" parameterType="wcmc.hef.dao.capa.domain.TemSoeconPrediosRuralesParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_soecon_predios_rurales as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="TemSoeconPrediosRuralesMap" parameterType="wcmc.hef.dao.capa.domain.TemSoeconPrediosRuralesKey" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_soecon_predios_rurales as tab
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</select>

	<select id="lastSequence" resultType="java.lang.Integer">
		select currval('wcmc_hef.tem_soecon_predios_rurales_seq')
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.capa.domain.TemSoeconPrediosRurales">
		insert into wcmc_hef.tem_soecon_predios_rurales
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				si_the_geom,
			</if>
			<if test="strDepartamen != null">
				de_departamen,
			</if>
			<if test="strDatum != null">
				de_datum,
			</if>
			<if test="strCodproy != null">
				de_codproy,
			</if>
			<if test="intCntCodpro != null">
				cd_cnt_codpro,
			</if>
			<if test="intOrigFid != null">
				cd_orig_fid,
			</if>
			<if test="timFechaRegistro != null">
				fc_fecreg,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				#{strTheGeom, jdbcType=VARCHAR},
			</if>
			<if test="strDepartamen != null">
				#{strDepartamen, jdbcType=VARCHAR},
			</if>
			<if test="strDatum != null">
				#{strDatum, jdbcType=VARCHAR},
			</if>
			<if test="strCodproy != null">
				#{strCodproy, jdbcType=VARCHAR},
			</if>
			<if test="intCntCodpro != null">
				#{intCntCodpro, jdbcType=INTEGER},
			</if>
			<if test="intOrigFid != null">
				#{intOrigFid, jdbcType=INTEGER},
			</if>
			<if test="timFechaRegistro != null">
				#{timFechaRegistro, jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.capa.domain.TemSoeconPrediosRurales">
		update wcmc_hef.tem_soecon_predios_rurales
		<set>
			<if test="strTheGeom != null">
				si_the_geom = #{strTheGeom,jdbcType=VARCHAR},
			</if>
			<if test="strDepartamen != null">
				de_departamen = #{strDepartamen,jdbcType=VARCHAR},
			</if>
			<if test="strDatum != null">
				de_datum = #{strDatum,jdbcType=VARCHAR},
			</if>
			<if test="strCodproy != null">
				de_codproy = #{strCodproy,jdbcType=VARCHAR},
			</if>
			<if test="intCntCodpro != null">
				cd_cnt_codpro = #{intCntCodpro,jdbcType=INTEGER},
			</if>
			<if test="intOrigFid != null">
				cd_orig_fid = #{intOrigFid,jdbcType=INTEGER},
			</if>
			<if test="timFechaRegistro != null">
				fc_fecreg = #{timFechaRegistro,jdbcType=TIMESTAMP},
			</if>
		</set>
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.capa.domain.TemSoeconPrediosRuralesKey">
		delete from wcmc_hef.tem_soecon_predios_rurales
		where 1 = 1
		<if test="srlGid != null">
		and cd_gid = #{srlGid,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		cd_gid, 
		si_the_geom, 
		de_departamen, 
		de_datum, 
		de_codproy, 
		cd_cnt_codpro, 
		cd_orig_fid, 
		fc_fecreg
	</sql>
</mapper>