<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.capa.mapper.TemSoeconSolicitudCreacionReservasTerritorialesMapper">
	<resultMap id="TemSoeconSolicitudCreacionReservasTerritorialesMap" type="wcmc.hef.dao.capa.domain.TemSoeconSolicitudCreacionReservasTerritoriales">
		<result column="cd_gid" property="srlGid" jdbcType="INTEGER"/>
		<result column="si_the_geom" property="strTheGeom" jdbcType="VARCHAR"/>
		<result column="cd_objectid_1" property="intObjectid1" jdbcType="INTEGER"/>
		<result column="de_nomret" property="strNomret" jdbcType="VARCHAR"/>
		<result column="de_catego" property="strCatego" jdbcType="VARCHAR"/>
		<result column="de_ubipol" property="strUbipol" jdbcType="VARCHAR"/>
		<result column="ha_areleg" property="dblAreleg" jdbcType="DOUBLE"/>
		<result column="de_estado" property="strEstado" jdbcType="VARCHAR"/>
		<result column="fc_fecreg" property="timFechaRegistro" jdbcType="TIMESTAMP"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="TemSoeconSolicitudCreacionReservasTerritorialesMap" parameterType="wcmc.hef.dao.capa.domain.TemSoeconSolicitudCreacionReservasTerritorialesParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_soecon_solicitud_creacion_reservas_territoriales as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="TemSoeconSolicitudCreacionReservasTerritorialesMap" parameterType="wcmc.hef.dao.capa.domain.TemSoeconSolicitudCreacionReservasTerritorialesKey" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_soecon_solicitud_creacion_reservas_territoriales as tab
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</select>

	<select id="lastSequence" resultType="java.lang.Integer">
		select currval('wcmc_hef.tem_soecon_solicitud_creacion_reservas_territoriales_seq')
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.capa.domain.TemSoeconSolicitudCreacionReservasTerritoriales">
		insert into wcmc_hef.tem_soecon_solicitud_creacion_reservas_territoriales
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				si_the_geom,
			</if>
			<if test="intObjectid1 != null">
				cd_objectid_1,
			</if>
			<if test="strNomret != null">
				de_nomret,
			</if>
			<if test="strCatego != null">
				de_catego,
			</if>
			<if test="strUbipol != null">
				de_ubipol,
			</if>
			<if test="dblAreleg != null">
				ha_areleg,
			</if>
			<if test="strEstado != null">
				de_estado,
			</if>
			<if test="timFechaRegistro != null">
				fc_fecreg,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				#{strTheGeom, jdbcType=VARCHAR},
			</if>
			<if test="intObjectid1 != null">
				#{intObjectid1, jdbcType=INTEGER},
			</if>
			<if test="strNomret != null">
				#{strNomret, jdbcType=VARCHAR},
			</if>
			<if test="strCatego != null">
				#{strCatego, jdbcType=VARCHAR},
			</if>
			<if test="strUbipol != null">
				#{strUbipol, jdbcType=VARCHAR},
			</if>
			<if test="dblAreleg != null">
				#{dblAreleg, jdbcType=DOUBLE},
			</if>
			<if test="strEstado != null">
				#{strEstado, jdbcType=VARCHAR},
			</if>
			<if test="timFechaRegistro != null">
				#{timFechaRegistro, jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.capa.domain.TemSoeconSolicitudCreacionReservasTerritoriales">
		update wcmc_hef.tem_soecon_solicitud_creacion_reservas_territoriales
		<set>
			<if test="strTheGeom != null">
				si_the_geom = #{strTheGeom,jdbcType=VARCHAR},
			</if>
			<if test="intObjectid1 != null">
				cd_objectid_1 = #{intObjectid1,jdbcType=INTEGER},
			</if>
			<if test="strNomret != null">
				de_nomret = #{strNomret,jdbcType=VARCHAR},
			</if>
			<if test="strCatego != null">
				de_catego = #{strCatego,jdbcType=VARCHAR},
			</if>
			<if test="strUbipol != null">
				de_ubipol = #{strUbipol,jdbcType=VARCHAR},
			</if>
			<if test="dblAreleg != null">
				ha_areleg = #{dblAreleg,jdbcType=DOUBLE},
			</if>
			<if test="strEstado != null">
				de_estado = #{strEstado,jdbcType=VARCHAR},
			</if>
			<if test="timFechaRegistro != null">
				fc_fecreg = #{timFechaRegistro,jdbcType=TIMESTAMP},
			</if>
		</set>
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.capa.domain.TemSoeconSolicitudCreacionReservasTerritorialesKey">
		delete from wcmc_hef.tem_soecon_solicitud_creacion_reservas_territoriales
		where 1 = 1
		<if test="srlGid != null">
		and cd_gid = #{srlGid,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		cd_gid, 
		si_the_geom, 
		cd_objectid_1, 
		de_nomret, 
		de_catego, 
		de_ubipol, 
		ha_areleg, 
		de_estado, 
		fc_fecreg
	</sql>
</mapper>