<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.capa.mapper.TemViasTrochasMapper">
	<resultMap id="TemViasTrochasMap" type="wcmc.hef.dao.capa.domain.TemViasTrochas">
		<result column="cd_gid" property="srlGid" jdbcType="INTEGER"/>
		<result column="si_the_geom" property="strTheGeom" jdbcType="VARCHAR"/>
		<result column="cd_objectid" property="lngObjectid" jdbcType="INTEGER"/>
		<result column="de_estado" property="strEstado" jdbcType="VARCHAR"/>
		<result column="de_descrip" property="strDescrip" jdbcType="VARCHAR"/>
		<result column="ha_shape_leng" property="dblShapeLeng" jdbcType="DOUBLE"/>
		<result column="ha_st_length_" property="dblStLength" jdbcType="DOUBLE"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="TemViasTrochasMap" parameterType="wcmc.hef.dao.capa.domain.TemViasTrochasParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_vias_trochas as tab
		${strHashConsulta}
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	
	<select id="selectByDefaultParameterGeometry" resultMap="TemViasTrochasMap" parameterType="wcmc.hef.dao.capa.domain.TemViasTrochasParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List_Geometry" />
		from wcmc_hef.tem_vias_trochas as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	
	<select id="selectByDefaultParameterCombo" resultMap="TemViasTrochasMap" parameterType="wcmc.hef.dao.capa.domain.TemViasTrochasParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List_Combo" />
		from wcmc_hef.tem_vias_trochas as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="TemViasTrochasMap" parameterType="wcmc.hef.dao.capa.domain.TemViasTrochasKey" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.tem_vias_trochas as tab
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</select>
	<select id="selectByPrimaryKeyGeometry" resultMap="TemViasTrochasMap" parameterType="wcmc.hef.dao.capa.domain.TemViasTrochasKey" >
		select 
		<include refid="Base_Column_List_Geometry" />
		from wcmc_hef.tem_vias_trochas as tab
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</select>

	<select id="lastSequence" resultType="java.lang.Integer">
		select currval('wcmc_hef.tem_vias_trochas_seq')
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.capa.domain.TemViasTrochas">
		insert into wcmc_hef.tem_vias_trochas
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				si_the_geom,
			</if>
			<if test="lngObjectid != null">
				cd_objectid,
			</if>
			<if test="strEstado != null">
				de_estado,
			</if>
			<if test="strDescrip != null">
				de_descrip,
			</if>
			<if test="dblShapeLeng != null">
				ha_shape_leng,
			</if>
			<if test="dblStLength != null">
				ha_st_length_,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="strTheGeom != null">
				#{strTheGeom, jdbcType=VARCHAR},
			</if>
			<if test="lngObjectid != null">
				#{lngObjectid, jdbcType=INTEGER},
			</if>
			<if test="strEstado != null">
				#{strEstado, jdbcType=VARCHAR},
			</if>
			<if test="strDescrip != null">
				#{strDescrip, jdbcType=VARCHAR},
			</if>
			<if test="dblShapeLeng != null">
				#{dblShapeLeng, jdbcType=DOUBLE},
			</if>
			<if test="dblStLength != null">
				#{dblStLength, jdbcType=DOUBLE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.capa.domain.TemViasTrochas">
		update wcmc_hef.tem_vias_trochas
		<set>
			<if test="strTheGeom != null">
				si_the_geom = #{strTheGeom,jdbcType=VARCHAR},
			</if>
			<if test="lngObjectid != null">
				cd_objectid = #{lngObjectid,jdbcType=INTEGER},
			</if>
			<if test="strEstado != null">
				de_estado = #{strEstado,jdbcType=VARCHAR},
			</if>
			<if test="strDescrip != null">
				de_descrip = #{strDescrip,jdbcType=VARCHAR},
			</if>
			<if test="dblShapeLeng != null">
				ha_shape_leng = #{dblShapeLeng,jdbcType=DOUBLE},
			</if>
			<if test="dblStLength != null">
				ha_st_length_ = #{dblStLength,jdbcType=DOUBLE},
			</if>
		</set>
		where 1 = 1
		and cd_gid = #{srlGid,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.capa.domain.TemViasTrochasKey">
		delete from wcmc_hef.tem_vias_trochas
		where 1 = 1
		<if test="srlGid != null">
		and cd_gid = #{srlGid,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		cd_gid, 
		ST_AsText(ST_Boundary(Box2D(si_the_geom))) as si_the_geom, 
		cd_objectid, 
		de_estado, 
		de_descrip, 
		ha_shape_leng, 
		ha_st_length_
	</sql>
	<sql id="Base_Column_List_Geometry">
		cd_gid, 
		ST_AsText(si_the_geom) as si_the_geom, 
		cd_objectid, 
		de_estado, 
		de_descrip, 
		ha_shape_leng, 
		ha_st_length_
	</sql>
	<sql id="Base_Column_List_Combo">
		cd_gid, 
		'' as si_the_geom, 
		cd_objectid, 
		de_estado, 
		de_descrip, 
		ha_shape_leng, 
		ha_st_length_
	</sql>

</mapper>