<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.configuracion.mapper.CapasBaseMapper">
	<resultMap id="CapasBaseMap" type="wcmc.hef.dao.configuracion.domain.CapasBase">
		<result column="id_capasbase" property="srlIdCapasBase" jdbcType="INTEGER"/>
		<result column="des_nombre" property="strNombre" jdbcType="VARCHAR"/>
		<result column="des_comentarios" property="strComentarios" jdbcType="VARCHAR"/>
		<result column="des_url" property="strUrl" jdbcType="VARCHAR"/>
		<result column="fec_registro" property="timFechaRegistro" jdbcType="TIMESTAMP"/>
		<result column="des_wmsurl" property="strWmsUrl" jdbcType="VARCHAR"/>
		<result column="des_wmscapas" property="strWmsCapas" jdbcType="VARCHAR"/>
		<result column="des_wfsurl" property="strWfsUrl" jdbcType="VARCHAR"/>
		<result column="id_grupocapas_string" property="intGrupoCapasDesc" jdbcType="VARCHAR"/>
		<result column="id_grupocapas" property="intGrupoCapas" jdbcType="INTEGER"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="CapasBaseMap" parameterType="wcmc.hef.dao.configuracion.domain.CapasBaseParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.t016capasbase as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="CapasBaseMap" parameterType="wcmc.hef.dao.configuracion.domain.CapasBaseKey" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.t016capasbase as tab
		where 1 = 1
		and id_capasbase = #{srlIdCapasBase,jdbcType=INTEGER}
	</select>

	<select id="lastSequence" resultType="java.lang.Integer">
		select currval('wcmc_hef.t016capasbase_id_capasbase_seq')
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.configuracion.domain.CapasBase">
		insert into wcmc_hef.t016capasbase
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="strNombre != null">
				des_nombre,
			</if>
			<if test="strComentarios != null">
				des_comentarios,
			</if>
			<if test="strUrl != null">
				des_url,
			</if>
			<if test="timFechaRegistro != null">
				fec_registro,
			</if>
			<if test="strWmsUrl != null">
				des_wmsurl,
			</if>
			<if test="strWmsCapas != null">
				des_wmscapas,
			</if>
			<if test="strWfsUrl != null">
				des_wfsurl,
			</if>
			<if test="intGrupoCapas != null">
				id_grupocapas,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="strNombre != null">
				#{strNombre, jdbcType=VARCHAR},
			</if>
			<if test="strComentarios != null">
				#{strComentarios, jdbcType=VARCHAR},
			</if>
			<if test="strUrl != null">
				#{strUrl, jdbcType=VARCHAR},
			</if>
			<if test="timFechaRegistro != null">
				#{timFechaRegistro, jdbcType=TIMESTAMP},
			</if>
			<if test="strWmsUrl != null">
				#{strWmsUrl, jdbcType=VARCHAR},
			</if>
			<if test="strWmsCapas != null">
				#{strWmsCapas, jdbcType=VARCHAR},
			</if>
			<if test="strWfsUrl != null">
				#{strWfsUrl, jdbcType=VARCHAR},
			</if>
			<if test="intGrupoCapas != null">
				#{intGrupoCapas, jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.configuracion.domain.CapasBase">
		update wcmc_hef.t016capasbase
		<set>
			<if test="strNombre != null">
				des_nombre = #{strNombre,jdbcType=VARCHAR},
			</if>
			<if test="strComentarios != null">
				des_comentarios = #{strComentarios,jdbcType=VARCHAR},
			</if>
			<if test="strUrl != null">
				des_url = #{strUrl,jdbcType=VARCHAR},
			</if>
			<if test="timFechaRegistro != null">
				fec_registro = #{timFechaRegistro,jdbcType=TIMESTAMP},
			</if>
			<if test="strWmsUrl != null">
				des_wmsurl = #{strWmsUrl,jdbcType=VARCHAR},
			</if>
			<if test="strWmsCapas != null">
				des_wmscapas = #{strWmsCapas,jdbcType=VARCHAR},
			</if>
			<if test="strWfsUrl != null">
				des_wfsurl = #{strWfsUrl,jdbcType=VARCHAR},
			</if>
			<if test="intGrupoCapas != null">
				id_grupocapas = #{intGrupoCapas,jdbcType=INTEGER},
			</if>
		</set>
		where 1 = 1
		and id_capasbase = #{srlIdCapasBase,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.configuracion.domain.CapasBaseKey">
		delete from wcmc_hef.t016capasbase
		where 1 = 1
		<if test="srlIdCapasBase != null">
		and id_capasbase = #{srlIdCapasBase,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id_capasbase, 
		des_nombre, 
		des_comentarios, 
		des_url, 
		fec_registro, 
		des_wmsurl, 
		des_wmscapas, 
		des_wfsurl, 
		id_grupocapas, 
		(SELECT ts.des_nombre FROM wcmc_hef.t017grupocapas ts WHERE ts.id_grupocapas = tab.id_grupocapas) AS id_grupocapas_string
	</sql>
</mapper>