<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.configuracion.mapper.CapaMapper">
	<resultMap id="CapaMap" type="wcmc.hef.dao.configuracion.domain.Capa">
		<result column="cd_capa" property="srlIdCapa" jdbcType="INTEGER"/>
		<result column="nm_orden" property="intOrden" jdbcType="INTEGER"/>
		<result column="cd_grupcap_string" property="intGrupoCapasDesc" jdbcType="VARCHAR"/>
		<result column="cd_grupcap" property="intGrupoCapas" jdbcType="INTEGER"/>
		<result column="cd_tipocapa_string" property="intTipoCapaDesc" jdbcType="VARCHAR"/>
		<result column="cd_tipocapa" property="intTipoCapa" jdbcType="INTEGER"/>
		<result column="de_nombre" property="strNombre" jdbcType="VARCHAR"/>
		<result column="de_coment" property="strComentarios" jdbcType="VARCHAR"/>
		<result column="de_autor" property="strAutor" jdbcType="VARCHAR"/>
		<result column="de_url" property="strUrl" jdbcType="VARCHAR"/>
		<result column="de_wmsurl" property="strWmsUrl" jdbcType="VARCHAR"/>
		<result column="de_wmscapa" property="strWmsCapas" jdbcType="VARCHAR"/>
		<result column="de_wfsurl" property="strWfsUrl" jdbcType="VARCHAR"/>
		<result column="fc_fecreg" property="timFechaRegistro" jdbcType="TIMESTAMP"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="CapaMap" parameterType="wcmc.hef.dao.configuracion.domain.CapaParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.t_capa as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="CapaMap" parameterType="wcmc.hef.dao.configuracion.domain.CapaKey" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.t_capa as tab
		where 1 = 1
		and cd_capa = #{srlIdCapa,jdbcType=INTEGER}
	</select>

	<select id="lastSequence" resultType="java.lang.Integer">
		select currval('wcmc_hef.t_capa_cd_capa_seq')
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.configuracion.domain.Capa">
		insert into wcmc_hef.t_capa
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="intGrupoCapas != null">
				cd_grupcap,
			</if>
			<if test="intTipoCapa != null">
				cd_tipocapa,
			</if>
			<if test="strNombre != null">
				de_nombre,
			</if>
			<if test="strComentarios != null">
				de_coment,
			</if>
			<if test="strUrl != null">
				de_url,
			</if>
			<if test="strWmsUrl != null">
				de_wmsurl,
			</if>
			<if test="strWmsCapas != null">
				de_wmscapa,
			</if>
			<if test="strWfsUrl != null">
				de_wfsurl,
			</if>
			<if test="timFechaRegistro != null">
				fc_fecreg,
			</if>
			<if test="intOrden != null">
				nm_orden,
			</if>
			<if test="strAutor != null">
				de_autor,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="intGrupoCapas != null">
				#{intGrupoCapas, jdbcType=INTEGER},
			</if>
			<if test="intTipoCapa != null">
				#{intTipoCapa, jdbcType=INTEGER},
			</if>
			<if test="strNombre != null">
				#{strNombre, jdbcType=VARCHAR},
			</if>
			<if test="strComentarios != null">
				#{strComentarios, jdbcType=VARCHAR},
			</if>
			<if test="strUrl != null">
				#{strUrl, jdbcType=VARCHAR},
			</if>
			<if test="strWmsUrl != null">
				#{strWmsUrl, jdbcType=VARCHAR},
			</if>
			<if test="strWmsCapas != null">
				#{strWmsCapas, jdbcType=VARCHAR},
			</if>
			<if test="strWfsUrl != null">
				#{strWfsUrl, jdbcType=VARCHAR},
			</if>
			<if test="timFechaRegistro != null">
				#{timFechaRegistro, jdbcType=TIMESTAMP},
			</if>
			<if test="intOrden != null">
				#{intOrden, jdbcType=INTEGER},
			</if>
			<if test="strAutor != null">
				#{strAutor, jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.configuracion.domain.Capa">
		update wcmc_hef.t_capa
		<set>
			<if test="intGrupoCapas != null">
				cd_grupcap = #{intGrupoCapas,jdbcType=INTEGER},
			</if>
			<if test="intTipoCapa != null">
				cd_tipocapa = #{intTipoCapa,jdbcType=INTEGER},
			</if>
			<if test="strNombre != null">
				de_nombre = #{strNombre,jdbcType=VARCHAR},
			</if>
			<if test="strComentarios != null">
				de_coment = #{strComentarios,jdbcType=VARCHAR},
			</if>
			<if test="strUrl != null">
				de_url = #{strUrl,jdbcType=VARCHAR},
			</if>
			<if test="strWmsUrl != null">
				de_wmsurl = #{strWmsUrl,jdbcType=VARCHAR},
			</if>
			<if test="strWmsCapas != null">
				de_wmscapa = #{strWmsCapas,jdbcType=VARCHAR},
			</if>
			<if test="strWfsUrl != null">
				de_wfsurl = #{strWfsUrl,jdbcType=VARCHAR},
			</if>
			<if test="timFechaRegistro != null">
				fc_fecreg = #{timFechaRegistro,jdbcType=TIMESTAMP},
			</if>
			<if test="intOrden != null">
				nm_orden = #{intOrden,jdbcType=INTEGER},
			</if>
			<if test="strAutor != null">
				de_autor = #{strAutor,jdbcType=INTEGER},
			</if>
		</set>
		where 1 = 1
		and cd_capa = #{srlIdCapa,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.configuracion.domain.CapaKey">
		delete from wcmc_hef.t_capa
		where 1 = 1
		<if test="srlIdCapa != null">
		and cd_capa = #{srlIdCapa,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		cd_capa, 
		cd_grupcap, 
		(SELECT ts.de_nombre FROM wcmc_hef.t_grupocapa ts WHERE ts.cd_grupcap = tab.cd_grupcap) AS cd_grupcap_string, 
		cd_tipocapa, 
		(SELECT ts.de_nombre FROM wcmc_hef.t_tipocapa ts WHERE ts.cd_tipocapa = tab.cd_tipocapa) AS cd_tipocapa_string, 
		de_nombre, 
		de_coment, 
		de_autor, 
		de_url, 
		de_wmsurl, 
		de_wmscapa, 
		de_wfsurl, 
		fc_fecreg,
		nm_orden
	</sql>
</mapper>