<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.hef.dao.configuracion.mapper.GrupoCapasMapper">
	<resultMap id="GrupoCapasMap" type="wcmc.hef.dao.configuracion.domain.GrupoCapas">
		<result column="cd_grupcap" property="srlIdGrupoCapas" jdbcType="INTEGER"/>
		<result column="de_nombre" property="strNombre" jdbcType="VARCHAR"/>
		<result column="nm_orden" property="intOrden" jdbcType="INTEGER"/>
		<result column="cd_grcapad" property="intIdGrupoCapasPadre" jdbcType="INTEGER"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="GrupoCapasMap" parameterType="wcmc.hef.dao.configuracion.domain.GrupoCapasParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wcmc_hef.t_grupocapa as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="GrupoCapasMap" parameterType="wcmc.hef.dao.configuracion.domain.GrupoCapasKey" >
		select 
		<include refid="Base_Column_List" />
		from wcmc_hef.t_grupocapa as tab
		where 1 = 1
		and cd_grupcap = #{srlIdGrupoCapas,jdbcType=INTEGER}
	</select>

	<select id="lastSequence" resultType="java.lang.Integer">
		select currval('wcmc_hef.t_grupocapa_cd_grupcap_seq')
	</select>

	<insert id="insertSelective" parameterType="wcmc.hef.dao.configuracion.domain.GrupoCapas">
		insert into wcmc_hef.t_grupocapa
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="strNombre != null">
				de_nombre,
			</if>
			<if test="intOrden != null">
				nm_orden,
			</if>
			<if test="intIdGrupoCapasPadre != null">
				cd_grcapad,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="strNombre != null">
				#{strNombre, jdbcType=VARCHAR},
			</if>
			<if test="intOrden != null">
				#{intOrden, jdbcType=INTEGER},
			</if>
			<if test="intIdGrupoCapasPadre != null">
				#{intIdGrupoCapasPadre, jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="wcmc.hef.dao.configuracion.domain.GrupoCapas">
		update wcmc_hef.t_grupocapa
		<set>
			<if test="strNombre != null">
				de_nombre = #{strNombre,jdbcType=VARCHAR},
			</if>
			<if test="intOrden != null">
				nm_orden = #{intOrden,jdbcType=INTEGER},
			</if>
			<if test="intIdGrupoCapasPadre != null">
				cd_grcapad = #{intIdGrupoCapasPadre,jdbcType=INTEGER},
			</if>
		</set>
		where 1 = 1
		and cd_grupcap = #{srlIdGrupoCapas,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="wcmc.hef.dao.configuracion.domain.GrupoCapasKey">
		delete from wcmc_hef.t_grupocapa
		where 1 = 1
		<if test="srlIdGrupoCapas != null">
		and cd_grupcap = #{srlIdGrupoCapas,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		cd_grupcap, 
		de_nombre, 
		nm_orden, 
		cd_grcapad
	</sql>
</mapper>